<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dcv3.fastfood.fastfoodexpress" >

    //allows app to access internet
    <uses-permission android:name="android.permission.INTERNET"/>

    //allow app to access a precise location
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    //allows app to write to external storage
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    //allows app to access information about networks
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    allows app to access google web based services(google map)
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>

    <application
        android:name="com.dcv3.fastfood.fastfoodexpress.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="UI3XVsyUqhIWyDLNjwPq7zILvGUCxZ6qNcvEvsoa" />
            //android:value="@string/parse_app_id" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="kTEeNTMpNNW9jujDpZfgq6PGbio5avN9kEIVyT4D" />
            //android:value="@string/parse_client_key" />

        <activity
            android:name="com.dcv3.fastfood.fastfoodexpress.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
